{% extends 'layout.html' %}

{% block title %}
    AskMate 2.0
{% endblock %}

{% block content %}

    <h1>{{ question['title'] }}</h1>
        <table id="question_table">
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Views</th>
                    <th>Votes</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ question['submission_time'] }}</td>
                    <td>{{ question['view_number'] }}</td>
                    <td><form action="{{ url_for('route_vote_up', question_id=question['id']) }}" method="get">
                            <button type="button" class="btn btn-primary">Up</button>
                        </form>
                        <form action="{{ url_for('route_vote_down', question_id=question['id']) }}" method="get">
                            <button type="button" class="btn btn-primary">Down</button>
                        </form>
                        {{ question['vote_number'] }}
                    </td>
                    <td>{{ question['message'] }}
                    {% if question['image'] %}
                        <img src="{{ question['image'] }}" alt="img">
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Comments</h3>
        {% if comments_for_question %}
        <table>
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Message</th>
                    <th>Edited</th>
                </tr>
            </thead>
            {% for comment in comments_for_question %}
            <tbody>
                <tr>
                    <td>{{ comment['submission_time'] }}</td>
                    <td>{{ comment['message'] }}</td>
                    <td>{{ comment['edited_count'] }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    {% endif %}
    <form action="{{ url_for('route_delete_question', question_id=question['id']) }}">
        <button type="submit">Delete</button>
        <a id="button1" class="btn btn-primary" href="{{ url_for('route_add_comment_to_question', question_id=question['id']) }}">Add comment</a>
    </form>
    <h1>Answers</h1>
    {% if answers %}
        <table>
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Votes</th>
                    <th>Message</th>
                </tr>
            </thead>
            {% for answer in answers %}
            <tbody>
                <tr>
                    <td>{{ answer['submission_time'] }}</td>
                    <td><form action="{{ url_for('route_vote_up', question_id=question['id'], answer_id=answer['id']) }}" name="answer_id" method="post">
                            <button type="button" class="btn btn-primary">Up</button>
                        </form>
                        <form action="{{ url_for('route_vote_down', question_id=question['id'], answer_id=answer['id']) }}" method="post">
                            <button type="button" class="btn btn-primary">Down</button>
                        </form>
                        {{ answer['vote_number'] }}
                    </td>
                    <td>{{ answer['message'], answer['image'] }}</td>
                    <td>
                        <a id="button1" class="btn btn-primary" href="{{ url_for('route_add_comment_to_answer', question_id=question['id'], answer_id=answer['id']) }}">Add comment</a>
                    </td>
                    <td><form action="{{ url_for('route_delete_answer', answer_id=answer['id'],
                     question_id=answer['question_id']) }}" >
                        <button id="delete" class="btn btn-primary" type="submit">Delete answer</button>
                    </form>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>

    {% elif not answer %}
    <p>No answers yet!</p>
    {% endif %}
    <form action="{{ url_for('route_post_answer', question_id=question['id'])}}">
        <button type="submit" class="btn btn-primary">Post answer</button>
    </form>
{% endblock %}