{% extends 'layout.html' %}

{% block title %}
    AskMate 3.0
{% endblock %}

{% block content %}
    <div id="question_header" class="container">
        <div class="row">
            {% if (question['users_id'] | get_user) %}
            <div class="col-7"><h2>{{ question['title'] }}</h2><h4>(by {{ question['users_id'] | get_user }})</h4></div>
            {% else %}
            <div class="col-7"><h2>{{ question['title'] }}</h2></div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-1"><p>Posted</p></div>
            <div class="col-2"><p>Views</p></div>
            <div class="col"><a class="btn btn-primary" href="{{ url_for('route_vote_down', question_id=question['id']) }}"><i class="fa fa-arrow-down"></i></a></div>
            <div id="votenumber" class="col"><h2>{{ question['vote_number'] }}</h2></div>
            <div class="col"><a class="btn btn-primary" href="{{ url_for('route_vote_up', question_id=question['id']) }}"><i class="fa fa-arrow-up"></i></a></div>
            <div id="delete_question" class="col-2"><a class="btn btn-primary" href="{{ url_for('route_delete_question', question_id=question['id']) }}">Delete</a></div>
            <div class="col"><a id="button_comment" class="btn btn-primary" href="{{ url_for('route_add_comment_to_question', question_id=question['id']) }}">Comment</a></div>
            <div class="col"><a class="btn btn-primary" href="{{ url_for('route_post_answer', question_id=question['id']) }}">Answer</a></div>
        </div>
        <div class="row">
            <div class="col-1"><p>{{ question['submission_time'] }}</p></div>
            <div class="col-2"><p>{{ question['view_number'] }}</p></div>
        </div>
    </div>
    <div id="message" class="d-flex p-2 bd-highlight">
        <p>{{ question['message'] }}</p>
    </div>
    {% if comments_for_question %}
        <h2 id="comments">Comments</h2>
        {% for comment in comments_for_question %}
            <div id="comments_container" class="container">
                <div class="row">
                    {% if (comment['users_id'] | get_user) %}
                    <div class="col-1"><p>Posted by: {{ comment['users_id'] | get_user }}</p></div>
                    {% else %}
                    <div class="col-1"><p>Posted</p></div>
                    {% endif %}
                    <div class="col-1"><p>Edited</p></div>
                </div>
                <div class="row">
                    <div class="col-1">{{ comment['submission_time'] }}</div>
                    <div class="col-1">{{ comment['edited_count'] }}</div>
                    <div class="col-5"><p>{{ comment['message'] }}</p></div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if answers %}
        <h2 id="answers">Answers</h2>
        {% for answer in answers %}
        <div id="answer" class="container">
            <div class="row">
                {% if (answer['users_id'] | get_user) %}
                <div class="col-5"><p>Posted by: {{ answer['users_id'] | get_user }}</p></div>
                {% else %}
                <div class="col-5"><p>Posted</p></div>
                {% endif %}
                <div class="col-5"><p>Posted by: {{ answer['users_id'] | get_user }}</p></div>
                <div class="col"><a class="btn btn-primary" href="{{ url_for('route_vote_down', question_id=question['id'], answer_id=answer['id']) }}"><i class="fa fa-arrow-down"></i></a></div>
                <div id="votenumber_answer" class="col"><h2>{{ answer['vote_number'] }}</h2></div>
                <div class="col"><a class="btn btn-primary" href="{{ url_for('route_vote_up', question_id=question['id'], answer_id=answer['id']) }}"><i class="fa fa-arrow-up"></i></a></div>
                <div id="delete_answer_btn" class="col"><a class="btn btn-primary" href="{{ url_for('route_delete_answer', question_id=question['id'], answer_id=answer['id']) }}">Delete</a></div>
                <div class="col"><a id="comment_answer" class="btn btn-primary" href="{{ url_for('route_add_comment_to_answer', question_id=question['id'], answer_id=answer['id']) }}">Comment</a></div>
            </div>
            <div class="row">
                <div class="col-2"><p>{{ answer['submission_time'] }}</p></div>
                <div class="col-9"><p>{{ answer['message'] }}</p></div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}