{% extends 'layout.html' %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}
        <style>
            table, th, td {
          border: 2px solid black;
                background-color: #e6eabe;
                font-size: 20px;
        }
        </style>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Views</th>
                    <th>Votes</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question['view_number'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td><a href="{{ url_for('route_questions', question_id=question['id']) }}">{{ question['title'] }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('route_ask_question') }}" method="get">
            <button type="submit" style="width: 100px; height: 50px;color: #9C1A1C; font-size: 20px">Ask Question</button>
        </form>
{% endblock %}