{% extends 'layout.html' %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}
    <h1>Question</h1>
        <table>
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Views</th>
                    <th>Votes</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ question['submission_time'] }}</td>
                    <td>{{ question['view_number'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td>{{ question['title'] }}</td>
                    <td>{{ question['message'] }}</td>
                    <td>{{ question['image'] }}</td>
                </tr>
            </tbody>
        </table>
    <h1>Answers</h1>
    {% if answers %}
        <table>
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Votes</th>
                    <th>Question ID</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            {% for answer in answers %}
            <tbody>
                <tr>
                    <td>{{ answer['submission_time'] }}</td>
                    <td>{{ answer['vote_number'] }}</td>
                    <td>{{ answer['question_id'] }}</td>
                    <td>{{ answer['message'] }}</td>
                    <td>{{ answer['image'] }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    {% elif not answer %}
    <p>No answers yet!</p>
    {% endif %}
    <a href="{{ url_for('route_post_answer', question_id=question['id']) }}">Post Answer</a>

{% endblock %}