<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>List Questions</title>
        <style>
            td,th {
                border: 1px solid #177199;
                padding: 0.1em 1em;
            }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Posted</th>
                    <th>Views</th>
                    <th>Votes</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>2000.01.01</td>
                    <td>300</td>
                    <td>39</td>
                    <td>How to make lists in Python?</td>
                    <td>I am totally new to this, any hints?</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>