{% extends 'layout.html' %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}

    <h1>{{ question['title'] }}</h1>
        <table id="question_table">
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Views</th>
                    <th>Votes</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ question['submission_time'] }}</td>
                    <td>{{ question['view_number'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td>{{ question['message'] }}
                    {% if question['image'] %}
                        <img src="{{ question['image'] }}" alt="img">
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    <form action="{{ url_for('route_delete_question', question_id=question['id']) }}">
        <button type="submit">Delete</button>
    </form>
    <h1>Answers</h1>
    {% if answers %}
        <table>
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Votes</th>
                    <th>Message</th>
                </tr>
            </thead>
            {% for answer in answers %}
            <tbody>
                <tr>
                    <td>{{ answer['submission_time'] }}</td>
                    <td>{{ answer['vote_number'] }}</td>
                    <td>{{ answer['message'], answer['image'] }}</td>
                    <td><form action="{{ url_for('route_delete_answer', answer_id=answer['id'],
                     question_id=answer['question_id']) }}" >
                        <button id="delete" type="submit">Delete answer</button>
                    </form>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    {% elif not answer %}
    <p>No answers yet!</p>
    {% endif %}
    <form action="{{ url_for('route_post_answer', question_id=question['id'])}}">
        <button class="button2" formnovalidate formaction="{{ url_for('index') }}" type="submit">Home</button>
        <button type="submit">Post answer</button>
    </form>
{% endblock %}